# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=../../../media/packs/SdkTrays.zip
Zip=../../../media/packs/ModifiedOgreCore.zip

# Resource locations to be added to the default path
[General]
FileSystem=../../../media/models
FileSystem=../../../media/materials/scripts
FileSystem=../../../media/materials/textures
FileSystem=../../../media/scenes

FileSystem=../../../media/materials/pointcloud/scripts
FileSystem=../../../media/materials/pointcloud/scripts150
FileSystem=../../../media/materials/pointcloud/glsl150
FileSystem=../../../media/materials/pointcloud/glsl120